body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#formPopup {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}
#openFormBtn {
    padding: 10px 20px;
    font-size: 16px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: #fff;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 900px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #1468a1;
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: rgba(20, 104, 193,1);
    text-decoration: none;
    cursor: pointer;
}


.upload-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.upload-container:hover {
    background-color: #f9f9f9;
}
.upload-container img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    display: none;
}
.btn-upload {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.btn-upload:hover {
    background-color: #e0e0e0;
}
.form-actions {
    text-align: right;
    margin-top: 20px;
}

.form-actions button, .form-actions a {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.form-actions .btn-create {
    background-color: #007bff;
}
.form-actions .btn-cancel {
    background-color: #6c757d;
    margin-left: 10px;
}
#registrationForm {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
}

@media (max-width: 768px) {
#registrationForm {
grid-template-columns: 1fr;
}
}

